Positive `content-length` with `return Promise.resolve(null)` and `204` status code

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported


### Fastify version

4.22.0

### Plugin version

_No response_

### Node.js version

18.16.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

6.4.11-arch2-1 (64-bit)

### Description

Hi everyone.
I'm having Postman hanging with some `204` responses.
I suspect the problem could be the positively-valued `content-length` response header. I've recreated the case without any trouble with a bare-bone Fastify instance (see `Steps to Reproduce`).

Having `reply.code(204)`:
- when I'm using an `async` (`Promise`) handler that resolves with `null` or `undefined`, the response header `content-length: 4` will be present (hanging Postman and other HTTP clients).
- when I call `reply.send()`, with or without promises, the `content-length` header is omitted from the response.

### Steps to Reproduce

```javascript
// Node.js v18.16.1
import Fastify from 'fastify' // v4.22.0

const app = Fastify({
  logger: true,
})

app.route({
  method: 'POST',
  url: '*',
  async handler(request, reply) {
    reply.code(204)

    // Replace with `reply.send()`, and everything works.
    return null
  },
})

await app.listen({
  port: 3000,
})
```

Run code above.
Run `wget -q -S -O- --post-data='{}' --header='Content-Type:application/json' 'http://127.0.0.1:3000/json'`

My output is:
```
  HTTP/1.1 204 No Content
  content-type: application/json; charset=utf-8
  content-length: 4
  Date: Tue, 29 Aug 2023 12:58:12 GMT
  Connection: keep-alive
  Keep-Alive: timeout=72
```

### Expected Behavior

Response header `content-length` should be `0` or omitted when `204` status code is set.

Well. "null" is 4 bytes. 

https://fastify.dev/docs/latest/Reference/Routes#promise-resolution

You should NOT return null.

@mcollina 
@climba03003 

This issue pops over and over again. People dont read the docs. Maybe we have to improve the docs so that the devs find it better...

> Response header content-length should be 0 or omitted when 204 status code is set.

Reading the rfc I do agree: https://www.rfc-editor.org/rfc/rfc9110.html#section-15.3.5-5

We should ignore whatever response payload - but I would release it as breaking in v5


> This issue pops over and over again. People dont read the docs. Maybe we have to improve the docs so that the devs find it better...

I think I did a pretty good explanation on my Fastify book: there is a clear table, but for copyright reason I can't send a PR with the same content.


I admit my mistake of not read the docs carefully, but my old code uses `return null` within `async` handlers, and It worked without issues at some point in the past.

I will do a refactor for those routes that use `return null` now, but I have to say that having the response code set to `204` could be enough for Fastify to handle `undefined` or `null` promises, and this creates some confusion (myself included).

If this could be a future feature, I'm more than happy to make a PR soon.

Btw. Why did you wrap null into a Promise.resolve?

From [RFC9110 Section 8.6](https://www.rfc-editor.org/rfc/rfc9110.html#section-8.6), we should fix the issue sending `Content-Length` with `204` status code.

> A server MUST NOT send a Content-Length header field in any response with a status code of [1xx (Informational)](https://www.rfc-editor.org/rfc/rfc9110.html#status.1xx) or [204 (No Content)](https://www.rfc-editor.org/rfc/rfc9110.html#status.204). A server MUST NOT send a Content-Length header field in any [2xx (Successful)](https://www.rfc-editor.org/rfc/rfc9110.html#status.2xx) response to a CONNECT request ([Section 9.3.6](https://www.rfc-editor.org/rfc/rfc9110.html#CONNECT)).

The problem is not only fastify, Node.js will ignore the payload but permit to send the `Content-Length`.
So, we should fix the problem first, then also in Node.js.

```js
import http from 'http'

http
.createServer(function(request, response) {
  response.writeHead(204, {
    'Content-Length': 4 // not ignored which against the RFC
  })
  response.write('1234') // ignored which fit the RFC
  response.end()
})
.listen(3000)
```

We do have guard for the `204 No Content`

https://github.com/fastify/fastify/blob/ad7ef969c942e2d2880f1ee6d0cc9f484ed4ef39/lib/reply.js#L573-L587

But unfortunately, `null` will be serialized before it get to the check.

1. `null` will fall to the `preserializeHook`
https://github.com/fastify/fastify/blob/ad7ef969c942e2d2880f1ee6d0cc9f484ed4ef39/lib/reply.js#L176-L195 

2. Then, `preserializeHookEnd`
https://github.com/fastify/fastify/blob/ad7ef969c942e2d2880f1ee6d0cc9f484ed4ef39/lib/reply.js#L479-L491

3. `serialize`
https://github.com/fastify/fastify/blob/ad7ef969c942e2d2880f1ee6d0cc9f484ed4ef39/lib/reply.js#L493-L514

4. It finally get to the function that do not expect `null`.
https://github.com/fastify/fastify/blob/ad7ef969c942e2d2880f1ee6d0cc9f484ed4ef39/lib/reply.js#L860-L877


> Btw. Why did you wrap null into a Promise.resolve?

I didn't (in the real code). I wrapped the `null` just in the issue's title to tell everyone "this issue is related to Promise usage". The code I sent as example uses `async` handler.

>But unfortunately, null will be serialized before it get to the check.

I believe it might be good to skip the whole `serialization` step when any `1xx` or `204` is received. We can patch that in the meanwhile this is fixed in Node

Can the [note](https://fastify.dev/docs/latest/Reference/Hooks/#preserialization) in the docs for `preSerialization` be updated to reflect the actual behaviour then?
I can do that PR