Semicolon is used as a separator between path and query-string

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported


### Fastify version

4.23.2

### Plugin version

_No response_

### Node.js version

18.14.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ventura 13.4.1

### Description

I found that Fastify sees the `;` character as the beginning of a query string, but it doesn't seem to be correct.
Section 3.4 of [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986#section-3.4) states: 
> The query component is indicated by the first question mark ("?") character and terminated by a number sign ("#") character or by the end of the URI.

I found a similar issue https://github.com/fastify/fastify/issues/2487 from three years ago, but didn't understand why this is worked that way in Fastify.
The reply to @delvedor from issue says that some systems don't follow the RFC and therefore the delimiters `?` and `;` should be used, but then it turns out that Fastify itself contradicts the RFC.

I may have missed something, so a more detailed explanation would be welcome

### Steps to Reproduce

```js
// GET /page;foo?bar=baz
fastify.get('/page', (req, res) => {
    // ✅ url: '/page;foo?bar=baz'
    // ❓ query: { 'foo?bar': 'baz' }
    const { url, query } = req;
})
```

### Expected Behavior

URI | path | query
-- | -- | --
/page;foo?bar=baz | /page;foo | bar=baz

### Sandbox Playground Link

https://codesandbox.io/p/sandbox/fastify-semicolon-query-v4ylq2?file=%2Findex.js%3A11%2C1

I think this is a gray area - as written in the RFC:

https://www.rfc-editor.org/rfc/rfc3986#section-3.3

> URI producing applications
   often use the reserved characters allowed in a segment to delimit
   scheme-specific or dereference-handler-specific subcomponents.  For
   example, the semicolon (";") and equals ("=") reserved characters are
   often used to delimit parameters and parameter values applicable to
   that segment.  The comma (",") reserved character is often used for
   similar purposes.  For example, one URI producer might use a segment
   such as "name;v=1.1" to indicate a reference to version 1.1 of
   "name", whereas another might use a segment such as "name,1.1" to
   indicate the same.  Parameter types may be defined by scheme-specific
   semantics, but in most cases the syntax of a parameter is specific to
   the implementation of the URI's dereferencing algorithm.

Here you have the flexibility to use the `rewriteUrl` to apply the application logic you prefer

@Eomm I want to point out that in this section 3.3 it also says:
> The path is terminated by the first question mark ("?") or number sign ("#") character, or by the end of the URI.

Also note that the quote you cited talks about the separation of parameters or their values, but not about the separation between path and query string
> For example, the semicolon (";") and equals ("=") reserved characters are often used **to delimit parameters and parameter values** applicable to that segment

This suggests that the delimiter characters `;` and `,`  can be used for **delimit parameter values**. For example like this `/page?foo=bar;baz` or like this `/page?foo=bar,baz` where the `foo` parameter has the value `bar;baz` or `bar,baz`

I also came across a [W3C Recommendation from 1999](https://www.w3.org/TR/1999/REC-html401-19991224/appendix/notes.html#h-B.2.2) where it was allowed and preferred to use the `;` symbol instead of `&`, but this recommendation is obsolete and [W3C Recommendation from 2004](https://www.w3.org/TR/2014/REC-html5-20141028/forms.html#url-encoded-form-data) it is recommended to use only the `&` symbol to delimit parameters

So, if I misunderstood the RFC on the use of delimiter characters, feel free to correct me. But I'm sure that the beginning of the query string should start with `?`, I haven't found any contradiction in that anywhere

> I found that Fastify sees the `;` character as the beginning of a query string

Can you please link to the code that proves this true?

> > I found that Fastify sees the `;` character as the beginning of a query string
> 
> Can you please link to the code that proves this true?

yep

https://codesandbox.io/p/sandbox/fastify-semicolon-query-v4ylq2?file=%2Findex.js%3A11%2C1

I am asking for a link to the code in the repo that determines when paths end and query parameters start that allows for the `;` to be the demarcation.

Reviewing the history, it stems from https://github.com/delvedor/find-my-way/issues/76. Which itself stems from https://javaee.github.io/servlet-spec/downloads/servlet-4.0/servlet-4_0_FINAL.pdf §7.1.3:

> The session ID must be encoded as a path parameter in the URL string. The name of
> the parameter must be jsessionid. Here is an example of a URL containing encoded
> path information:
> http://www.example.com/catalog/index.html;jsessionid=1234

Which is referencing the RFC 33986 §3.3 that @Eomm quoted above. Basically, it allows for:

```
https://example.com/path/to/resource;param_for_resource=value?query1=val1#anchor1
```

So I'll admit to not knowing this very odd quirk before today and doing it wrong several years ago in the above linked issue. I cannot remember what led me to open and resolve that issue, but I was leaving a position at the time that dealt with a lot of Java, so 🤷‍♂️

Regardless, I'd suggest adding a PR that adds an option to `find-my-way` that toggles the behavior as a backward compatible change. And open an issue to replace it with some spec compliant behavior as a breaking change.

> Also note that the quote you cited talks about the separation of parameters or their values, but not about the separation between path and query string

Reading the RFC, I understand that the RFC accepts these routes:

```
/foo;bar/doo;scoo?a=1
```

That would open to a "path parameters in path segment" and I must say that I have never seen it.

So the dev who implemented it, understood to "parameter" as "query string" parameters IMHO.

Anyway, I think the @jsumners's suggestion works for you: a parameter to drop this legacy behaviour and go fully standard.



Closing this Issue as it is now configurable.