request.hostname isn't set when using HTTP2

## 🐛 Bug Report

`request.hostname` isn't set when using HTTP2.

## To Reproduce

`index.js`:

```js
module.exports = async function (fastify, opts) {
  fastify.get('/', async (req, r) => r.send(`hostname: ${req.hostname}\n`));
};
module.exports.options = { http2: true };
```

## Expected behavior

Running `fastify start -o index.js` and `curl --http2-prior-knowledge http://localhost:3000` gives:

```
hostname: localhost:3000
```

## Actual behavior

```
hostname: undefined
```

## Your Environment

- *node version*: v13.9.0
- *fastify version*: 2.11.0
- *os*: Windows

We are currently relying only on the `host` header in https://github.com/fastify/fastify/blob/6f79a90703078451f4571ac3e08b815a26753503/lib/route.js#L310. However I think it's a different header in h2. From https://tools.ietf.org/html/rfc7540#section-8.1.2.3:

>   To ensure that the HTTP/1.1 request line can be reproduced
      accurately, this pseudo-header field MUST be omitted when
      translating from an HTTP/1.1 request that has a request target in
      origin or asterisk form (see [RFC7230], Section 5.3).  Clients
      that generate HTTP/2 requests directly SHOULD use the ":authority"
      pseudo-header field instead of the Host header field.  An
      intermediary that converts an HTTP/2 request to HTTP/1.1 MUST
      create a Host header field if one is not present in a request by
      copying the value of the ":authority" pseudo-header field.

I _think_ we should get that value from the `:authority` header.

Would you mind to send a PR?